<%= render 'header', post: @question %>

<h1>Questions</h1><br>

<%= paginate @questions %>
<%= page_entries_info @questions %>

<h3><%= link_to "Have a question?", new_question_path %></h3>
<hr>
<div class="main_body">
  <div class="question-view">
  <table>
    <tbody>
      <div>
        <% @questions.each do |question| %>
        <h1><%= question.title %></h1>
        <h4>By:<%= question.user.username %></h4>
        <p><%= question.body %></p>
        <%= link_to 'Show Answer(s)', question_path(question) %>
        <hr>
        <% end %>
      </div>
    </tbody>
  </table>

<%= paginate @questions %>
<%= page_entries_info @questions %>

</div>